<tbody>
    <tr>
        <td> <label for="Merchant_Code">Merchant code</label> </td>
        <td> <input type="text" name="mrctCode" id="mrctCode" value="t3348"></td>
    </tr>

    <tr>
        <td> <label for="Transaction_ID">Transaction id</label> </td>
        <td> <input type="text" name="txn_id" id="txn_id" value="8209655206"> </td>
    </tr>

    <tr>
        <td> <label for="Amount">Amount</label> </td>
        <td> <input type="text" name="amount" id="amount"> </td>
    </tr>

    <tr>
        <td> <label for="Scheme">Scheme</label> </td>
        <td> <input type="text" name="scheme" id="scheme" value="test"> </td>
    </tr>

    <tr>
        <td> <label for="Customer_ID">Customer id</label>	</td>
        <td> <input type="text" name="custID" id="custID"> </td>
    </tr>

    <tr>
        <td> <label for="Mobile_Number">Mobile number</label> </td>
        <td> <input type="text" name="mobNo" id="mobNo"> </td>
    </tr>

    <tr>
        <td> <label for="Email">Email</label> </td>
        <td> <input type="email" name="email" id="email"> </td>
    </tr>

    <tr>
        <td> <label for="Customer_Name">Customer name</label> </td>
        <td> <input type="text" name="name" id="name"> </td>
    </tr>

    <tr>
        <td> <label for="Currency">Currency</label> </td>
        <td> <input type="text" name="currency" id="currency" value="INR"> </td>
    </tr>

    <tr>
        <td> <label for="SALT">Salt</label> </td>
        <td> <input type="text" name="SALT" id="SALT" value="1496899267KMOWJE"> </td>
    </tr>

    <tr>
        <td> <label for="Return_Url">Return url</label> </td>
        <td> <input type="text" name="returnUrl" id="returnUrl" value="http://192.168.0.78:3000/response/response-handler"> </td>
    </tr>


    <tr class="hid">
        <td scope="row"><label for="accNo">Account No</label></td>
        <td><input type="text" id="accNo" name="accNo"> </td>
    </tr>
    <tr class="hid">
        <td scope="row"><label for="accountType">Account Type</label></td>
        <td>
            <select id="accountType" name="accountType" style="width:100%">
                <option value="Saving">Saving</option>
                <option value="Current">Current</option>
            </select>
        </td>
    </tr>
    <tr class="hid">
        <td scope="row"><label for="accountHolderName">Account Name</label></td>
        <td><input type="text" id="accountHolderName" name="accountHolderName"> </td>
    </tr>
    <tr class="hid">
        <td scope="row"><label for="aadharNo">Aadhar No</label></td>
        <td><input type="text" id="aadharNo" name="aadharNo"> </td>
    </tr>
    <tr class="hid">
        <td scope="row"><label for="ifscCode">IFSC Code</label></td>
        <td><input type="text" id="ifscCode" name="ifscCode"></td>
    </tr>
    <tr class="hid">
        <td scope="row"><label for="debitStartDate">Debit Start Date</label></td>
        <td><input type="date" id="debitStartDate" name="debitStartDate" style="width:98%"></td>
    </tr>
    <tr class="hid">
        <td scope="row"><label for="debitEndDate">Debit End Date</label></td>
        <td><input type="date" id="debitEndDate" name="debitEndDate" style="width:98%"></td>
    </tr>
    <tr class="hid">
        <td scope="row"><label for="maxAmount">Max Amount</label></td>
        <td><input type="text" id="maxAmount" name="maxAmount"></td>
    </tr>
    <tr class="hid">
    <td scope="row"><label for="amountType">Amount Type</label></td>
    <td>
        <select id="amountType" name="amountType" style="width:100%">
        <option value="M">Variable</option>
        <option value="F">Fixed</option>
        </select>
    </td>
    </tr>
    <tr class="hid">
        <td><label>Frequency</label></td>
        <td>
            <select class="form-control" name="frequency">
                <option value="ADHO" selected> As and when presented </option>
                <option value="DAIL"> Daily </option>
                <option value="WEEK"> Weekly </option>
                <option value="MNTH"> Monthly </option>
                <option value="BIMN"> Bi- monthly </option>
                <option value="QURT"> Quarterly </option>
                <option value="MIAN"> Semi annually </option>
                <option value="YEAR"> Yearly </option>
            </select>
        </td>
    </tr>
</tbody>